# Symfony directories
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml



#OVH PROD
/app/config/parameters.yml.prod
#au cas ou d'autres
*.prod

#### Ma conf
##js propre au site (stats google, ...)
#web/resources/js/sy2-wall.js


##images propres au site (header, upload, ...)
web/images/slider/*
web/images/wall/*


#Fichiers temp local
*.DS_Store


#Test a quoi ca sert ???????????????
/bin

#Difference toProd local : _demo dans les 3 tables entity : wall et user 