##########################################################
# Symfony directories
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/

# bundle générés lors du install web
/web/bundles/*
/web/resources/*


########################################################
# Local Configuration files
/app/config/parameters.yml

# PROD files
/app/config/parameters.yml.prod

#Pour les autres (Bundle/Wall et User / config/services.yml)
*.prod

##js propre au site (stats google, ...)
#web/resources/js/sy2-wall.js


########################################################
##images propres au site (header, upload, ...)
web/images/slider/*
web/images/wall/*


########################################################
#Fichiers temp local
*.DS_Store


######################### Local dev  ######################### 
                        #Lorsque push depuis workspace "Replicat PROD" penser à commenter tout ce qu'il y a dessous

#/src/GbCreation/UserBundle/Resources/config/services.yml
#/src/GbCreation/WallBundle/Resources/config/services.yml

######################### Local dev


#Test a quoi ca sert ???????????????
/bin